.section-landscape {
    background-image: url(../images/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
}

.section-assos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 120px 0px;
}

.section-assos h2 {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 60px;
}

.section-assos article {
    width: calc((100% - 200px) / 3);
    padding-bottom: 30px;
    text-align: center;
}

.section-assos article img {
    height: 200px;
}

@media (max-width:1024px) 
{
    .section-assos {
        flex-direction: column;
        align-items: center;
        padding: 60px 0px 0px;
    }

    .section-assos article {
        padding-bottom: 50px;
        width: 100%;
    }
}